table.prev {
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 2rem;
  td {
    padding: 1rem;
    border: 0.1rem solid #000000;
    text-align: center;
  }
  .period {
    padding: 1rem;
    background-color: greenyellow;
  }
  .break {
    padding: 1rem;
    background-color: red;
  }
}
